.App {
  text-align: center;
}

input {
  margin: 8px auto 12px auto;
  background-color: #FFFFFF;
}

@media (prefers-reduced-motion: no-preference) {
  .animated-shake {
    animation: shake 0.5s;
  }
}

@media (prefers-reduced-motion: reduce) {
  .animated-shake {
    animation: red-fill 1s;
  }
}

.animated-green {
  animation: green-fill 1s;
}

@keyframes shake {
  0% { transform: translate(0px, 0px) }
  30% { transform: translate(-8px, 0px) }
  50% { transform: translate(8px, 0px) }
  70% { transform: translate(-8px, 0px) }
  100% { transform: translate(0px, 0px) }
}

@keyframes green-fill {
  0% { background-color: #6FE12F; }
  50% { background-color: #FFFFFF;  }
}

@keyframes red-fill {
  0% { background-color: #EB4221; }
  50% { background-color: #FFFFFF;  }
}

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
